# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env

# EEG datasets and raw data
*.edf
*.fif
data/
dataset/

# Temporary files
*.tmp
*.log
